.link {
  @apply relative inline-block bg-link bg-[-100%] text-second-text-color transition-all hover:bg-[0] hover:before:w-full;
}

.active {
  @apply text-text-color;
}

.link:before {
  @apply absolute bottom-[-3px] left-0 block h-[2px] w-0 bg-second-text-color content-[''] transition-all;
}

.userBackBtn {
  @apply cursor-pointer transition;
  background-size: 200% 100%;
  background-position: -100%;
}

.userBackBtn:after {
  @apply absolute bottom-0 left-0 block h-[2px] w-0 bg-second-text-color content-[''] transition-all;
}

.userBackBtn:hover {
  background-position: 0;
}
.userBackBtn:hover:after {
  @apply w-full;
}