.navDesct {
  @apply relative pb-[5px] before:content-[''] before:absolute before:top-[5px] before:left-[-34px] before:h-0 before:w-8 before:rotate-90 before:border-2 before:border-solid before:border-border-color
  ;
}

.navDesct a {
  @apply font-gotham text-[14px] font-bold uppercase leading-[13px] tracking-[0.04em] no-underline last:ml-4;
}

.link {
  @apply relative inline-block text-second-text-color transition-all;
  background-size: 200% 100%;
  background-position: -100%;
}

.active {
  @apply text-text-color;
}

.link:before {
  @apply absolute bottom-[-3px] left-0 block h-[2px] w-0 bg-second-text-color content-[''] transition-all;
}

.link:hover {
  background-position: 0;
}

.link:hover::before {
  @apply w-full;
}
