@use '../../styles/mixins';

.home {
  padding-top: 112px;

  @include mixins.mq(tablet) {
    padding-top: 180px;
    min-height: 100vh;
    background-image: image-set(
      url('../../images/tablet/bghometablet.png') 1x,
      url('../../images/tablet/bghometabletx2.png') 2x
    );
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
  }

  @include mixins.mq(desktop) {
    padding-top: 147px;
    min-height: calc(100vh - 166px);
    background-image: none;
  }
}

.imgDesktop {  
  @apply not-desktop:hidden fixed bottom-0 right-0 z-[-1] w-[1280px] block;
}
