@use '../../styles/_mixins.scss';

.header {
  @apply mx-auto flex w-full max-w-[1280px] items-center justify-between border-b-2 border-solid border-b-border-color p-5;

  @include mixins.mq(not-desktop) {
    @apply fixed top-0 left-0 z-20 bg-main-color;
  }

  @media screen and (min-width: 1280px) {
    @apply items-end justify-start border-none pt-20;

    & .wrap {
      @apply ml-[42px] pb-[3px] relative;

      &:before {
        @apply content-[""] absolute top-[-7px] left-[-20px] block h-8 w-0.5 bg-border-color;
      }
    }
  }
}

.header a {
  @apply font-gotham text-[14px] font-bold uppercase no-underline;
}

.header a:nth-child(even) {
  @apply ml-4;
}

.headerNav {
  @apply flex items-center justify-between border-b-2 border-solid border-b-border-color p-5;
}

.userInfo {
  @apply flex h-10 w-full flex-row-reverse items-center justify-between bg-modal pl-5 pr-5;
}

.userInfo p {
  @apply inline-block p-3 font-gotham font-bold text-text-color;
}

.userInfo p:last-child {
  @apply relative ml-8 text-second-text-color;
}

.userInfo p:before {
  @apply absolute content-[''] top-[17px] left-[-30px] h-0 w-8 rotate-90 border-2 border-solid border-border-color;
}

.userInfoTablet {
  composes: userInfo;
  @apply mr-[106px]  w-[300px] bg-main-color;
  justify-content: end;
}

.headerNavDesc {
  @apply flex items-center justify-between border-none p-5 desktop:items-start desktop:p-0;
}

.logoNavWrap {
  @apply flex items-end pt-[60px] gap-10;
}

.userInfoDesct {
  composes: userInfoTablet;
  @apply m-0 flex h-[130px] w-[517px] items-end bg-background-color;
}

.headerIsLogin {
  @apply mx-auto max-w-[1280px] not-desktop:fixed not-desktop:top-0 not-desktop:left-0  not-desktop:z-20 tablet-before:z-[1000] not-desktop:w-full not-desktop:bg-main-color;
}
