@use '../../styles/mixins';
.container_sidebar {
  @apply flex flex-col items-center bg-background-color py-10 px-5;

  @include mixins.mq(tablet) {
    @apply flex-row items-start justify-center py-20 px-8;
    background-image: url(../../images/tablet/layer411.png);
    background-position: top -72px right -264px;
    background-repeat: no-repeat;
  }

  @include mixins.mq(desktop) {
    @apply min-w-[517px] flex-col items-center justify-start pt-[150px];

    min-height: calc(100vh - 130px);
    background-image: url(../../images/desktop/layer2.png);
    background-position: top -122px right -13px;
    background-repeat: no-repeat;
  }
}

.sum {
  @apply mb-[30px] w-[280px] tablet:mr-[97px] tablet:w-[290px] desktop:mb-[60px] desktop:mr-0;
}

.title_sidebar {
  @apply mb-5 text-[14px] leading-[1.21] tracking-[0.04em] tablet:mb-[35px] font-bold;
}

.item_sidebar {
  @apply flex h-7 items-baseline justify-between text-[14px] font-normal leading-[1.21] tracking-[0.04em] text-second-text-color;
}

.text_sidebar_food {
  @apply text-[14px] tracking-[0.04em] text-second-text-color;
}

.menuGroupContainer {
  @apply relative h-[305px] w-[280px] overflow-hidden tablet:h-[305px] desktop:h-[315px] list-none;
}

.menuGroupList {
  @apply overflow-y-scroll h-full;
}

.menuGroupContainer:after{
  @apply content-[""] absolute bottom-0 left-0 w-full h-[50px];
  background: linear-gradient(to bottom, rgba(240, 241, 243, 0), rgba(240, 241, 243, 1));
}

.menuGroupItems {
  @apply mb-5 w-[255px] font-normal tracking-[0.04em] text-second-text-color tablet:mb-[15px] tablet:w-[260px] text-14;
}

input[name='filter'] {
  @apply border-b-[1px] border-solid bg-transparent font-semibold text-second-text-color;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(211, 207, 207);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #264061;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #264061;
}
