@use '../../styles/mixins';

.register {
  padding-top: 120px;

  @include mixins.mq(tablet) {
    padding-top: 240px;
    min-height: 100vh;
    background-image: image-set(
      url(../../images/tablet/tabletx1.png) 1x,
      url(../../images/tablet/tabletx2.png) 2x
    );
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
  }

  @include mixins.mq(desktop) {
    padding-top: 160px;
    background-image: none;
    min-height: calc(100vh - 166px);
  }
}

.imgDesktop {
  @apply not-desktop:hidden fixed bottom-0 right-0 z-[-1] w-[1280px] block;
}

.title {
  @apply mb-[60px] text-center text-[14px] font-bold uppercase leading-[13px] tracking-[0.04em] text-accent-color tablet:text-left;
}

.form {
  @apply flex flex-col justify-center;
}

.wrap {
  @apply mt-[60px] flex flex-col items-center justify-center;

  & button:first-child {
    margin-bottom: 20px;
  }

  @include mixins.mq(tablet) {
    display: block;
    & button:first-child {
      margin-right: 32px;
    }
  }
}
