.form {
  @apply mt-[152px] mb-8 pl-5 pr-5 desktop:mt-[138px] desktop:w-[608px] tablet:mt-[138px] tablet:mb-12.5; 
}

.formParts {
  @apply mb-10 flex flex-col tablet:justify-start tablet:flex-row tablet:mb-15 desktop:justify-between;
}

.formPart {
  @apply w-60 flex flex-col tablet:mr-8;
}

.label {
  @apply flex items-center justify-center cursor-pointer;
}

.title {
  @apply mb-8 font-bold text-18 leading-[1.44] text-text-color tablet:mb-[68px] tablet:w-[640px] tablet:h-[85px] tablet:text-[34px] desktop:w-[608px] desktop:h-[85.5px] tablet:leading-1.2 ;
}

.checkbox {
  @apply sr-only;
}

.fake {
  @apply inline-block w-5 h-5 border-[1px] border-solid border-border-color rounded-[50%] relative;
}

.fake::before {
  @apply content-[''] absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] block w-2.5 h-2.5 bg-accent-color opacity-0 rounded-[50%] transition;
}

.text {
  @apply pl-[7px] text-second-text-color font-bold text-14 leading-[1.65] tracking-def;
}

.checkbox:checked + .fake::before {
  opacity: 1;
}

.checkbox:checked ~ .text {
  color: var(--accent-color);
}

.radioBlock {
  @apply mt-[-30px] flex flex-row;
}

.listRadio {
  @apply mr-7.5 flex items-center justify-center;
}

.buttonPosition {
  @apply flex justify-center desktop:ml-[323px] tablet:justify-start;
}

.wrapper {
  @include mixins.mq(desktop) {
    @apply flex justify-between max-w-[1280px] mx-auto;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(211, 207, 207);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #264061;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #264061;
}
